<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.CityinformationEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.sys.entity.CityinformationEO" >
    <id column="pk_city" property="pkCity" />
    <result column="cityname1" property="cityname1" />
    <result column="enabled1" property="enabled1" />
    <result column="applicationtime1" property="applicationtime1" />
    <result column="cityintroduction1" property="cityintroduction1" />
    <result column="citycoordinates1" property="citycoordinates1" />
    <result column="delflag1" property="delflag1" />
  </resultMap>

  <!-- TS_CITYINFORMATION table all fields -->
  <sql id="Base_Column_List" >
     pk_city, cityname1, enabled1, applicationtime1, cityintroduction1, citycoordinates1, delflag1
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="pkCity != null" >
        and pk_city ${pkCityOperator} #{pkCity}
      </if>
      <if test="cityname1 != null" >
        and cityname1 ${cityname1Operator} #{cityname1}
      </if>
      <if test="enabled1 != null" >
        and enabled1 ${enabled1Operator} #{enabled1}
      </if>
      <if test="applicationtime1 != null" >
        and applicationtime1 ${applicationtime1Operator} #{applicationtime1}
      </if>
      <if test="applicationtime11 != null" >
        and applicationtime1 &gt;= #{applicationtime11}
      </if>
      <if test="applicationtime12 != null" >
        and applicationtime1 &lt;= #{applicationtime12}
      </if>
      <if test="cityintroduction1 != null" >
        and cityintroduction1 ${cityintroduction1Operator} #{cityintroduction1}
      </if>
      <if test="citycoordinates1 != null" >
        and citycoordinates1 ${citycoordinates1Operator} #{citycoordinates1}
      </if>
      <if test="delflag1 != null" >
        and delflag1 ${delflag1Operator} #{delflag1}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.sys.entity.CityinformationEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_city">
        SELECT SEQ_TS_CITYINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into TS_CITYINFORMATION(<include refid="Base_Column_List" />)
    values (#{pkCity, jdbcType=VARCHAR}, #{cityname1, jdbcType=VARCHAR}, #{enabled1, jdbcType=INTEGER}, #{applicationtime1, jdbcType=TIMESTAMP}, #{cityintroduction1, jdbcType=VARCHAR}, #{citycoordinates1, jdbcType=VARCHAR}, #{delflag1, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.sys.entity.CityinformationEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_city">
        SELECT SEQ_TS_CITYINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into TS_CITYINFORMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="pkCity != null" >pk_city,</if>
                <if test="cityname1 != null" >cityname1,</if>
                <if test="enabled1 != null" >enabled1,</if>
                <if test="applicationtime1 != null" >applicationtime1,</if>
                <if test="cityintroduction1 != null" >cityintroduction1,</if>
                <if test="citycoordinates1 != null" >citycoordinates1,</if>
                <if test="delflag1 != null" >delflag1,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="pkCity != null" >#{pkCity, jdbcType=VARCHAR},</if>
                <if test="cityname1 != null" >#{cityname1, jdbcType=VARCHAR},</if>
                <if test="enabled1 != null" >#{enabled1, jdbcType=INTEGER},</if>
                <if test="applicationtime1 != null" >#{applicationtime1, jdbcType=TIMESTAMP},</if>
                <if test="cityintroduction1 != null" >#{cityintroduction1, jdbcType=VARCHAR},</if>
                <if test="citycoordinates1 != null" >#{citycoordinates1, jdbcType=VARCHAR},</if>
                <if test="delflag1 != null" >#{delflag1, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.sys.entity.CityinformationEO" >
    update TS_CITYINFORMATION
       set  cityname1 = #{cityname1},
            enabled1 = #{enabled1},
            applicationtime1 = #{applicationtime1},
            cityintroduction1 = #{cityintroduction1},
            citycoordinates1 = #{citycoordinates1},
            delflag1 = #{delflag1}
     where  pk_city = #{pkCity}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.CityinformationEO" >
    update TS_CITYINFORMATION
    <set >
      <if test="cityname1 != null" >
        cityname1 = #{cityname1},
      </if>
      <if test="enabled1 != null" >
        enabled1 = #{enabled1},
      </if>
      <if test="applicationtime1 != null" >
        applicationtime1 = #{applicationtime1},
      </if>
      <if test="cityintroduction1 != null" >
        cityintroduction1 = #{cityintroduction1},
      </if>
      <if test="citycoordinates1 != null" >
        citycoordinates1 = #{citycoordinates1},
      </if>
      <if test="delflag1 != null" >
        delflag1 = #{delflag1},
      </if>
    </set>
     where pk_city = #{pkCity}
  </update>

  <!-- 根据id查询 TS_CITYINFORMATION -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from TS_CITYINFORMATION
     where pk_city = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TS_CITYINFORMATION
     where pk_city = #{value}

  </delete>

  <!-- TS_CITYINFORMATION 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_CITYINFORMATION
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_CITYINFORMATION列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_CITYINFORMATION
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_CITYINFORMATION
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
