<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.SchoolinformationmanagementEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.sys.entity.SchoolinformationmanagementEO" >
    <id column="pkschoolinformation" property="pkschoolinformation" />
    <result column="schoolname" property="schoolname" />
    <result column="schooladdress" property="schooladdress" />
    <result column="pkregion" property="pkregion" />
    <result column="enabled" property="enabled" />
    <result column="applicationtime" property="applicationtime" />
    <result column="pkcity" property="pkcity" />
  </resultMap>

  <!-- TS_SCHOOLINFORMATIONMANAGEMENT table all fields -->
  <sql id="Base_Column_List" >
     pkschoolinformation, schoolname, schooladdress, pkregion, enabled, applicationtime, pkcity
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="pkschoolinformation != null" >
        and pkschoolinformation ${pkschoolinformationOperator} #{pkschoolinformation}
      </if>
      <if test="schoolname != null" >
        and schoolname ${schoolnameOperator} #{schoolname}
      </if>
      <if test="schooladdress != null" >
        and schooladdress ${schooladdressOperator} #{schooladdress}
      </if>
      <if test="pkregion != null" >
        and pkregion ${pkregionOperator} #{pkregion}
      </if>
      <if test="enabled != null" >
        and enabled ${enabledOperator} #{enabled}
      </if>
      <if test="applicationtime != null" >
        and applicationtime ${applicationtimeOperator} #{applicationtime}
      </if>
      <if test="applicationtime1 != null" >
        and applicationtime &gt;= #{applicationtime1}
      </if>
      <if test="applicationtime2 != null" >
        and applicationtime &lt;= #{applicationtime2}
      </if>
      <if test="pkcity != null" >
        and pkcity ${pkcityOperator} #{pkcity}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.sys.entity.SchoolinformationmanagementEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pkschoolinformation">
        SELECT SEQ_TS_SCHOOLINFORMATIONMANAGEMENT.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into TS_SCHOOLINFORMATIONMANAGEMENT(<include refid="Base_Column_List" />)
    values (#{pkschoolinformation, jdbcType=VARCHAR}, #{schoolname, jdbcType=VARCHAR}, #{schooladdress, jdbcType=VARCHAR}, #{pkregion, jdbcType=VARCHAR}, #{enabled, jdbcType=INTEGER}, #{applicationtime, jdbcType=TIMESTAMP}, #{pkcity, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.sys.entity.SchoolinformationmanagementEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pkschoolinformation">
        SELECT SEQ_TS_SCHOOLINFORMATIONMANAGEMENT.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into TS_SCHOOLINFORMATIONMANAGEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="pkschoolinformation != null" >pkschoolinformation,</if>
                <if test="schoolname != null" >schoolname,</if>
                <if test="schooladdress != null" >schooladdress,</if>
                <if test="pkregion != null" >pkregion,</if>
                <if test="enabled != null" >enabled,</if>
                <if test="applicationtime != null" >applicationtime,</if>
                <if test="pkcity != null" >pkcity,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="pkschoolinformation != null" >#{pkschoolinformation, jdbcType=VARCHAR},</if>
                <if test="schoolname != null" >#{schoolname, jdbcType=VARCHAR},</if>
                <if test="schooladdress != null" >#{schooladdress, jdbcType=VARCHAR},</if>
                <if test="pkregion != null" >#{pkregion, jdbcType=VARCHAR},</if>
                <if test="enabled != null" >#{enabled, jdbcType=INTEGER},</if>
                <if test="applicationtime != null" >#{applicationtime, jdbcType=TIMESTAMP},</if>
                <if test="pkcity != null" >#{pkcity, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.sys.entity.SchoolinformationmanagementEO" >
    update TS_SCHOOLINFORMATIONMANAGEMENT
       set  schoolname = #{schoolname},
            schooladdress = #{schooladdress},
            pkregion = #{pkregion},
            enabled = #{enabled},
            applicationtime = #{applicationtime},
            pkcity = #{pkcity}
     where  pkschoolinformation = #{pkschoolinformation}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.SchoolinformationmanagementEO" >
    update TS_SCHOOLINFORMATIONMANAGEMENT
    <set >
      <if test="schoolname != null" >
        schoolname = #{schoolname},
      </if>
      <if test="schooladdress != null" >
        schooladdress = #{schooladdress},
      </if>
      <if test="pkregion != null" >
        pkregion = #{pkregion},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled},
      </if>
      <if test="applicationtime != null" >
        applicationtime = #{applicationtime},
      </if>
      <if test="pkcity != null" >
        pkcity = #{pkcity},
      </if>
    </set>
     where pkschoolinformation = #{pkschoolinformation}
  </update>

  <!-- 根据id查询 TS_SCHOOLINFORMATIONMANAGEMENT -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from TS_SCHOOLINFORMATIONMANAGEMENT
     where pkschoolinformation = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TS_SCHOOLINFORMATIONMANAGEMENT
     where pkschoolinformation = #{value}

  </delete>

  <!-- TS_SCHOOLINFORMATIONMANAGEMENT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_SCHOOLINFORMATIONMANAGEMENT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_SCHOOLINFORMATIONMANAGEMENT列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_SCHOOLINFORMATIONMANAGEMENT
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_SCHOOLINFORMATIONMANAGEMENT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
