<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.StaffstyleEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.sys.entity.StaffstyleEO" >
    <id column="pk_staff" property="pkStaff" />
    <result column="title_name" property="titleName" />
    <result column="update_time" property="updateTime" />
    <result column="create_time" property="createTime" />
    <result column="state1" property="state1" />
    <result column="details1" property="details1" javaType="string" jdbcType="VARBINARY"/>
    <result column="pictures1" property="pictures1" />
    <result column="view1" property="view1" javaType="string" jdbcType="VARBINARY"/>
    <result column="del_flag" property="delFlag" />
  </resultMap>

  <!-- TS_STAFFSTYLE table all fields -->
  <sql id="Base_Column_List" >
     pk_staff, title_name, update_time, create_time, state1, details1, pictures1, view1, del_flag
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="pkStaff != null" >
        and pk_staff ${pkStaffOperator} #{pkStaff}
      </if>
      <if test="titleName != null" >
        and title_name ${titleNameOperator} #{titleName}
      </if>
      <if test="updateTime != null" >
        and update_time ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and update_time &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and update_time &lt;= #{updateTime2}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="state1 != null" >
        and state1 ${state1Operator} #{state1}
      </if>
      <if test="details1 != null" >
        and details1 ${details1Operator} #{details1}
      </if>
      <if test="pictures1 != null" >
        and pictures1 ${pictures1Operator} #{pictures1}
      </if>
      <if test="view1 != null" >
        and view1 ${view1Operator} #{view1}
      </if>
      <if test="delFlag != null" >
        and del_flag ${delFlagOperator} #{delFlag}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.sys.entity.StaffstyleEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_staff">
        SELECT SEQ_TS_STAFFSTYLE.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into TS_STAFFSTYLE(<include refid="Base_Column_List" />)
    values (#{pkStaff, jdbcType=VARCHAR}, #{titleName, jdbcType=VARCHAR}, #{updateTime, jdbcType=TIMESTAMP}, #{createTime, jdbcType=TIMESTAMP}, #{state1, jdbcType=INTEGER}, #{details1, jdbcType=CLOB}, #{pictures1, jdbcType=VARCHAR}, #{view1, jdbcType=CLOB}, #{delFlag, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.sys.entity.StaffstyleEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_staff">
        SELECT SEQ_TS_STAFFSTYLE.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into TS_STAFFSTYLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="pkStaff != null" >pk_staff,</if>
                <if test="titleName != null" >title_name,</if>
                <if test="updateTime != null" >update_time,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="state1 != null" >state1,</if>
                <if test="details1 != null" >details1,</if>
                <if test="pictures1 != null" >pictures1,</if>
                <if test="view1 != null" >view1,</if>
                <if test="delFlag != null" >del_flag,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="pkStaff != null" >#{pkStaff, jdbcType=VARCHAR},</if>
                <if test="titleName != null" >#{titleName, jdbcType=VARCHAR},</if>
                <if test="updateTime != null" >#{updateTime, jdbcType=TIMESTAMP},</if>
                <if test="createTime != null" >#{createTime, jdbcType=TIMESTAMP},</if>
                <if test="state1 != null" >#{state1, jdbcType=INTEGER},</if>
                <if test="details1 != null" >#{details1, jdbcType=CLOB},</if>
                <if test="pictures1 != null" >#{pictures1, jdbcType=VARCHAR},</if>
                <if test="view1 != null" >#{view1, jdbcType=CLOB},</if>
                <if test="delFlag != null" >#{delFlag, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.sys.entity.StaffstyleEO" >
    update TS_STAFFSTYLE
       set  title_name = #{titleName},
            update_time = #{updateTime},
            create_time = #{createTime},
            state1 = #{state1},
            details1 = #{details1},
            pictures1 = #{pictures1},
            view1 = #{view1},
            del_flag = #{delFlag}
     where  pk_staff = #{pkStaff}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.StaffstyleEO" >
    update TS_STAFFSTYLE
    <set >
      <if test="titleName != null" >
        title_name = #{titleName},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="state1 != null" >
        state1 = #{state1},
      </if>
      <if test="details1 != null" >
        details1 = #{details1},
      </if>
      <if test="pictures1 != null" >
        pictures1 = #{pictures1},
      </if>
      <if test="view1 != null" >
        view1 = #{view1},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
     where pk_staff = #{pkStaff}
  </update>

  <!-- 根据id查询 TS_STAFFSTYLE -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from TS_STAFFSTYLE
     where pk_staff = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TS_STAFFSTYLE
     where pk_staff = #{value}

  </delete>

  <!-- TS_STAFFSTYLE 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_STAFFSTYLE
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_STAFFSTYLE列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_STAFFSTYLE
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_STAFFSTYLE
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
