<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.sys.dao.WebsiteconfigurationEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.sys.entity.WebsiteconfigurationEO" >
    <id column="pk_websiteconfiguration" property="pkWebsiteconfiguration" />
    <result column="configurationtype1" property="configurationtype1" />
    <result column="title1" property="title1" />
    <result column="imageurl1" property="imageurl1" />
    <result column="content1" property="content1" />
    <result column="processsequencenumber1" property="processsequencenumber1" />
    <result column="explicitstate1" property="explicitstate1" />
    <result column="limitquantity1" property="limitquantity1" />
    <result column="effective1" property="effective1" />
    <result column="create_time1" property="createTime1" />
    <result column="updatetime1" property="updatetime1" />
    <result column="deleteflag1" property="deleteflag1" />
  </resultMap>

  <!-- TS_WEBSITECONFIGURATION table all fields -->
  <sql id="Base_Column_List" >
     pk_websiteconfiguration, configurationtype1, title1, imageurl1, content1, processsequencenumber1, explicitstate1, limitquantity1, effective1, create_time1, updatetime1, deleteflag1
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="pkWebsiteconfiguration != null" >
        and pk_websiteconfiguration ${pkWebsiteconfigurationOperator} #{pkWebsiteconfiguration}
      </if>
      <if test="configurationtype1 != null" >
        and configurationtype1 ${configurationtype1Operator} #{configurationtype1}
      </if>
      <if test="title1 != null" >
        and title1 ${title1Operator} #{title1}
      </if>
      <if test="imageurl1 != null" >
        and imageurl1 ${imageurl1Operator} #{imageurl1}
      </if>
      <if test="content1 != null" >
        and content1 ${content1Operator} #{content1}
      </if>
      <if test="processsequencenumber1 != null" >
        and processsequencenumber1 ${processsequencenumber1Operator} #{processsequencenumber1}
      </if>
      <if test="explicitstate1 != null" >
        and explicitstate1 ${explicitstate1Operator} #{explicitstate1}
      </if>
      <if test="limitquantity1 != null" >
        and limitquantity1 ${limitquantity1Operator} #{limitquantity1}
      </if>
      <if test="effective1 != null" >
        and effective1 ${effective1Operator} #{effective1}
      </if>
      <if test="createTime1 != null" >
        and create_time1 ${createTime1Operator} #{createTime1}
      </if>
      <if test="createTime11 != null" >
        and create_time1 &gt;= #{createTime11}
      </if>
      <if test="createTime12 != null" >
        and create_time1 &lt;= #{createTime12}
      </if>
      <if test="updatetime1 != null" >
        and updatetime1 ${updatetime1Operator} #{updatetime1}
      </if>
      <if test="updatetime11 != null" >
        and updatetime1 &gt;= #{updatetime11}
      </if>
      <if test="updatetime12 != null" >
        and updatetime1 &lt;= #{updatetime12}
      </if>
      <if test="deleteflag1 != null" >
        and deleteflag1 ${deleteflag1Operator} #{deleteflag1}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.sys.entity.WebsiteconfigurationEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_websiteconfiguration">
        SELECT SEQ_TS_WEBSITECONFIGURATION.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into TS_WEBSITECONFIGURATION(<include refid="Base_Column_List" />)
    values (#{pkWebsiteconfiguration, jdbcType=VARCHAR}, #{configurationtype1, jdbcType=INTEGER}, #{title1, jdbcType=VARCHAR}, #{imageurl1, jdbcType=VARCHAR}, #{content1, jdbcType=VARCHAR}, #{processsequencenumber1, jdbcType=VARCHAR}, #{explicitstate1, jdbcType=VARCHAR}, #{limitquantity1, jdbcType=VARCHAR}, #{effective1, jdbcType=VARCHAR}, #{createTime1, jdbcType=TIMESTAMP}, #{updatetime1, jdbcType=TIMESTAMP}, #{deleteflag1, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.sys.entity.WebsiteconfigurationEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pk_websiteconfiguration">
        SELECT SEQ_TS_WEBSITECONFIGURATION.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into TS_WEBSITECONFIGURATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="pkWebsiteconfiguration != null" >pk_websiteconfiguration,</if>
                <if test="configurationtype1 != null" >configurationtype1,</if>
                <if test="title1 != null" >title1,</if>
                <if test="imageurl1 != null" >imageurl1,</if>
                <if test="content1 != null" >content1,</if>
                <if test="processsequencenumber1 != null" >processsequencenumber1,</if>
                <if test="explicitstate1 != null" >explicitstate1,</if>
                <if test="limitquantity1 != null" >limitquantity1,</if>
                <if test="effective1 != null" >effective1,</if>
                <if test="createTime1 != null" >create_time1,</if>
                <if test="updatetime1 != null" >updatetime1,</if>
                <if test="deleteflag1 != null" >deleteflag1,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="pkWebsiteconfiguration != null" >#{pkWebsiteconfiguration, jdbcType=VARCHAR},</if>
                <if test="configurationtype1 != null" >#{configurationtype1, jdbcType=INTEGER},</if>
                <if test="title1 != null" >#{title1, jdbcType=VARCHAR},</if>
                <if test="imageurl1 != null" >#{imageurl1, jdbcType=VARCHAR},</if>
                <if test="content1 != null" >#{content1, jdbcType=VARCHAR},</if>
                <if test="processsequencenumber1 != null" >#{processsequencenumber1, jdbcType=VARCHAR},</if>
                <if test="explicitstate1 != null" >#{explicitstate1, jdbcType=VARCHAR},</if>
                <if test="limitquantity1 != null" >#{limitquantity1, jdbcType=VARCHAR},</if>
                <if test="effective1 != null" >#{effective1, jdbcType=VARCHAR},</if>
                <if test="createTime1 != null" >#{createTime1, jdbcType=TIMESTAMP},</if>
                <if test="updatetime1 != null" >#{updatetime1, jdbcType=TIMESTAMP},</if>
                <if test="deleteflag1 != null" >#{deleteflag1, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.sys.entity.WebsiteconfigurationEO" >
    update TS_WEBSITECONFIGURATION
       set  configurationtype1 = #{configurationtype1},
            title1 = #{title1},
            imageurl1 = #{imageurl1},
            content1 = #{content1},
            processsequencenumber1 = #{processsequencenumber1},
            explicitstate1 = #{explicitstate1},
            limitquantity1 = #{limitquantity1},
            effective1 = #{effective1},
            create_time1 = #{createTime1},
            updatetime1 = #{updatetime1},
            deleteflag1 = #{deleteflag1}
     where  pk_websiteconfiguration = #{pkWebsiteconfiguration}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.sys.entity.WebsiteconfigurationEO" >
    update TS_WEBSITECONFIGURATION
    <set >
      <if test="configurationtype1 != null" >
        configurationtype1 = #{configurationtype1},
      </if>
      <if test="title1 != null" >
        title1 = #{title1},
      </if>
      <if test="imageurl1 != null" >
        imageurl1 = #{imageurl1},
      </if>
      <if test="content1 != null" >
        content1 = #{content1},
      </if>
      <if test="processsequencenumber1 != null" >
        processsequencenumber1 = #{processsequencenumber1},
      </if>
      <if test="explicitstate1 != null" >
        explicitstate1 = #{explicitstate1},
      </if>
      <if test="limitquantity1 != null" >
        limitquantity1 = #{limitquantity1},
      </if>
      <if test="effective1 != null" >
        effective1 = #{effective1},
      </if>
      <if test="createTime1 != null" >
        create_time1 = #{createTime1},
      </if>
      <if test="updatetime1 != null" >
        updatetime1 = #{updatetime1},
      </if>
      <if test="deleteflag1 != null" >
        deleteflag1 = #{deleteflag1},
      </if>
    </set>
     where pk_websiteconfiguration = #{pkWebsiteconfiguration}
  </update>

  <!-- 根据id查询 TS_WEBSITECONFIGURATION -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from TS_WEBSITECONFIGURATION
     where pk_websiteconfiguration = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TS_WEBSITECONFIGURATION
     where pk_websiteconfiguration = #{value}

  </delete>

  <!-- TS_WEBSITECONFIGURATION 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_WEBSITECONFIGURATION
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_WEBSITECONFIGURATION列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_WEBSITECONFIGURATION
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_WEBSITECONFIGURATION
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
